<!--team-section-->
<section class="team-agileits-w3layouts" id="team">
	<div class="container">	
		<h5 class="title-w3">Team</h5>
		<p class="title-txt-agile">Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur.</p>
			<div class="col-md-3 team-wthree-grid">
				<div class="btm-right">
					<img src="images/t1.jpg" alt=" ">
						<div class="captn-icon">
							<ul>
								<li><a class="fb" href="#"><i class=" so1 fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twit" href="#"><i class=" so2 fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="goog" href="#"><i class=" so3 fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="captn">
							<h4>James</h4>	
						</div>
				</div>
			</div>
			<div class="col-md-3 team-wthree-grid">
				<div class="btm-right">
					<img src="images/t2.jpg" alt=" ">
						<div class="captn-icon">
							<ul>
								<li><a class="fb" href="#"><i class=" so1 fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twit" href="#"><i class=" so2 fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="goog" href="#"><i class=" so3 fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="captn">
							<h4>Williams Allen</h4>	
						</div>
				</div>
			</div>
			<div class="col-md-3 team-wthree-grid">
				<div class="btm-right">
					<img src="images/t3.jpg" alt=" ">
						<div class="captn-icon">
							<ul>
								<li><a class="fb" href="#"><i class=" so1 fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twit" href="#"><i class=" so2 fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="goog" href="#"><i class=" so3 fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="captn">
							<h4>Richard</h4>	
						</div>
				</div>
			</div>
			<div class="col-md-3 team-wthree-grid">
				<div class="btm-right">
					<img src="images/t4.jpg" alt=" ">
						<div class="captn-icon">
							<ul>
								<li><a class="fb" href="#"><i class=" so1 fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twit" href="#"><i class=" so2 fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="goog" href="#"><i class=" so3 fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="captn">
							<h4>John Doel</h4>	
						</div>
				</div>
			</div>
		<div class="clearfix"> </div>
	</div>
</section>
<!--//team-section-->