<div class="services-w3layouts" id="services">
	<div class="container">	
		<div class="services-head-agileits">
			<h5 class="title-w3">Services</h5>
			<p class="title-txt-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
		</div>
				<div class="services-top-w3l">
					<div class="col-md-6 services-left-w3ls">
						<p class="para-agile">Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. Ut aliquid scire se gaudeant? Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum Posidonium. </p>
					</div>
					<div class="col-md-6 services-right-w3ls">
						<h2> Idemne potest esse dies saepius, qui semel fuit? Ut in geometria, prima si dederis, danda sunt omnia.</h2>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="wthree-agile-sevre-grids">
							<div class="col-md-3 wthree-agile-grid">
								   <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
										<a href="#" class="hi-icon icon1"><i class="fa fa-cog" aria-hidden="true"></i></a>
									</div>
									<h4>Lorem ipsum </h4>
									<p class="para-agile">Semper enim ex eo, quod maximas partes continet latissimeque.</p>
							</div>
							<div class="col-md-3 wthree-agile-grid">
									 <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
										<a href="#" class="hi-icon icon2"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
									</div>
									<h4>Lorem ipsum </h4>
									<p class="para-agile">Semper enim ex eo, quod maximas partes continet latissimeque.</p>
							</div>
							<div class="col-md-3 wthree-agile-grid">
									<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
										<a href="#" class="hi-icon icon3"><i class="fa fa-pencil" aria-hidden="true"></i></a>
									</div>
									<h4>Lorem ipsum</h4>
									<p class="para-agile">Semper enim ex eo, quod maximas partes continet latissimeque.</p>
							</div>
							<div class="col-md-3 wthree-agile-grid">
									<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
										<a href="#" class="hi-icon icon4"><i class="fa fa-laptop" aria-hidden="true"></i></a>
									</div>
									<h4>Lorem ipsum </h4>
									<p class="para-agile">Semper enim ex eo, quod maximas partes continet latissimeque.</p>
							</div>
							<div class="clearfix"> </div>
						</div>

	</div>
</div>